<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="container">
    <form action="/createSong" method="post">
        <div class="form-group">
            <label for="title">Song Title:</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Song Title"/>
        </div>
        <div class="form-group">
            <label for="artist">Song Artist:</label>
            <input type="text" class="form-control" name="artist" id="artist" placeholder="Song Artist"/>
        </div>
        <div class="form-group">
            <label for="album">Song Album:</label>
            <input type="text" class="form-control" name="album" id="album" placeholder="Song Album"/>
        </div>
        <div class="form-group">
            <label for="playlist">Playlist:</label>
            <select name="playlist" id="playlist" class="form-control">
                <option>---------</option>
                <option th:value="${playlist.id}" th:each="playlist : ${playlists}" th:text="${playlist.title}"></option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-danger" />
        </div>
    </form>
</div>
<span th:include="includes :: js"></span>
</body>
</html>
