<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello Thymeleaf</title>
    <span th:include="includes :: css"></span>
</head>
<body>
    <div th:include="navbar :: navbar"></div>
    <div class="container">
        <h1>Hello Spring Thymeleaf!</h1>
        <div th:each="playlist : ${playlists}">
            <a href="#" th:text="${playlist.title}"></a>
        </div>
    </div>


    <span th:include="includes :: js"></span>
</body>
</html>